.main {
    padding: 130px 0 100px;
}

.h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
.p {
  color: rgba(0, 0, 0, 0.555);
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}