:root{
    --main-font:'Courier New', Courier, monospace;
    --main-color:linear-gradient(-225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%);
    --second-color:#7D1173;

}

nav .logo{
    text-transform: uppercase;
    background-image: var(--main-color);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 50px;
}
.btn {
    background-color: transparent;
    border: 2px solid #6534d9;
    color: black;
    font-weight: bold;
    transition: all 0.5s;
}

.btn:hover {
    background-color: #6534d9;
    color: white;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-menu{
    transform: translateX(-70%);
}

.dropdown-item:hover{
    background-color: #6534d9;
    color: white;
}

h2{
    font-size: 40px;
    font-weight: bold;
    font-family: var(--main-font);
    text-transform: uppercase;
    background-image: var(--main-color);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    
}
h3{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--main-font);
    text-transform: uppercase;
    background-image: var(--main-color);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.spinner-wrapper {
    background-color: white;
    font-size: 2.2rem;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1.5s;
  }
  .spinner-border {
    height: 50px;
    width: 50px;
  }


